/* @font-face {
    font-family: PalmerLakePrint-Regular;    
<<<<<<< HEAD
    src: local('Rajdhani'), url ('/project-three-SKRIK/client/src/fonts') format('truetype');
  }
=======
    src: local('Rajdhani'), url ('/project-three-SKRIK/client/src/MyFontsWebfontsKit/webFonts/PalmerLakePrint-Regular') format('truetype');
  } */
>>>>>>> 0e831da832ba605c8552616e2349dd0324a365fa
