.zipCodeInput{
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
}

.radiusInput{
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    margin-left: 15px;
}

.locationSearchForm {
    margin-top: 95px
}

.zipCodeButton {
    background-color: #8b0000;
}