
  
#formCol {
  padding: 5px;
}

#searchRow {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 20px

}

h2 {
  margin-left: -10px
}

.nearYouHeader {
  margin-left: 34px;
}

.home-footer{
  margin-left: 50%;
  margin-right: 50%
}

.footer{
  background-color: lemonchiffon;
}