
.park {
    margin-bottom: 35px
}

.title {
    text-align: center;
}


.review {
    font-size: 17px;
}

.user-info {

    margin-left: 25%;
    margin-right: 25%;


  
}


.send-button {
    background-color: #8b0000;
  }
  
  