@font-face {
  font-family: PalmerLakePrint-Regular;    
  src: local('Rajdhani'), url ('/project-three-SKRIK/client/src/fonts') format('truetype');
}

body { font-family: PalmerLakePrint-Regular; }

.button-login{
  margin-right: 10px;
}

#input-login{
  /* width: 100px; */
margin-top: 19px;
margin-right: 10px;

width: 125px;
font-size: 15px
}

