#brand-text {
    font-family: PalmerLakePrint-Regular; 
    font-size: 25px;
    width: 100%
}

.navbar-brand {
    font-family: PalmerLakePrint-Regular; 
    font-size: 25px;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;

}

.header-button {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 40px;
}

.logout-button {
    height: 40px;
    margin-top: 12px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;

}

.profile-button {
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;

}
