#brand-text {
    font-family: 'Shadows Into Light Two', cursive; 
    font-size: 25px;
    width: 100%;
}

.navbar-brand {
    font-size: 35px;
}

.header-button {
    height: 40px;
    font-size: 15px;

}

.logout-button {
    height: 40px;
    width:80px;
    font-size: 15px;
    margin-top: 8px;
    margin-left: 6px
}

.profile-button {
    height: 40px;
    font-size: 15px;
}
